body {
    text-align: center;
}

.box-container {
    display: flex;
    justify-content: center;
}

.box {
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
    margin: 1.5rem;
}

.one {
    background-color: #d95980;
}

.two {
    background-color: #f99b45;
}

.three {
    background-color: #63aac0;
}

.four {
    background-color: #819ff9;
}


.flash {
    background-color: white;
}

.user-flash {
    background-color: green;
}

h3 {
    position: absolute;
    top: 50px;
    left: 50px;
}